
.container{
    
    width: 20rem;
    height: 15rem;
}
.btn{
    width: 6rem;
    height: 4rem;
    background-color: rgb(75, 77, 76);
    vertical-align: middle;
    color: white;
    
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.buttons{
    width: 20rem;
    height: 12rem;
    
}
.restart{
    background-color: red;
   margin-bottom: 2rem;
}